{
	"presets": [
		"stage-0",
		"react",
		"es2017"
	],
	"plugins": [
		"transform-decorators-legacy",
		"babel-plugin-add-module-exports",
		"syntax-class-properties",
	    "transform-class-properties",
	    "transform-es2015-arrow-functions",
	    "transform-es2015-block-scoping",
	    "transform-proto-to-assign"
	]
}
